* {
  box-sizing: border-box;
}

.body-container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.p-y {
  padding: 0 3%;
}

/* header */

.header {
  display: flex;
  padding: 2% 3%;
}

.header .logo {
  width: 50%;
}

.logo p {
  margin: 0;
  padding: 0;
  color: #605DEC;
  font-size: 32px;
  font-weight: 800;
}

.header-nav {
  width: 50%;
  display: flex;
  gap: 5%;
  justify-content: flex-end;
  align-items: center;
}

.header-nav .nav-item {
  color: #7C8DB0;
  font-size: 16px;
  cursor: pointer;
  padding: 12px 20px;
  font-weight: 400;
}

.header-nav button {
  color:#FAFAFA;
  background-color: #605DEC;
  padding: 12px 20px;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
}


/* booking */

.booking {
  background-image: url('./img/World\ Map.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20%;
}


/* flight */
.flight {
  margin-bottom: 7%;
}

.heading {
  display: flex;
  align-items: center;
  font-size: 24px;
}

.heading-left {
  width: 80%;
  font-weight: 700;
  color: #6E7491;
}

.flight-heading .heading-left span {
  color: #605DEC;
}

.heading-right {
  width: 20%;
  text-align: right;
}

.heading-right a {
  text-decoration: none;
  color: #A1B0CC;
  font-weight: 400;
}

.flight-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3%;
}

.flight-top .flight-top-item {
  width: 33,3%;
}

.item {
  box-shadow: 0px 2px 4px rgba(28, 5, 77, 0.1), 0px 12px 32px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  cursor: pointer;
}

.flight img {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.item-content {
  padding: 16px 24px;
}


.item-content h6 {
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 600;
  color: #6E7491;
  padding-bottom: 12px;
  margin: 0;
}

.flight h6 {
  display: flex;
}

.item-content h6 .text-left {
  width: 80%;
}

.item-content h6 .text-right {
  width: 20%;
  text-align: right;
}

.item-content h6 span {
  color: #605DEC;
}

.item-content p {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  color: #7C8DB0;
}

.flight-bottom img {
  width: 100%;
  height: auto;
}


/* stay */
.stay {
  margin-bottom: 7%;
}

.stay span, .stay .stay-item span{
  color: #5ddfec;
}

.stay-content {
  display: flex;
  justify-content: space-between;
}

.stay-item {
  max-width: 411px;
}

.stay-item img {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  width: 100%;
  height: auto;
}

.btn {
  padding: 12px 20px;
  background-color: #605DEC;
  color: white;
  border: none;
  outline: none;
  border-radius: 4px;
  display: flex;
  margin: 5% auto 0;
  cursor: pointer;
}


/* Rating */
.rating {
  margin-bottom: 7%;
}

h3 {
  font-size: 24px;
  font-weight: 700;
  color: #6E7491;
  text-align: center;
  padding: 3% 0;
}

h3 span {
  color: #605DEC;
}

.rating-content {
  display: flex;
  gap: 5%;
}

.rating-item {
  width: 33.3%;
  display: flex;
  gap: 5%;
  padding: 1%;
}

.rating-item .item-avatar img {
  width: 48px;
  height: 48px;
}


.rating-item .rating-info p {
  margin: 0;
}

.rating-info .name, .rating-info .info, .rating-info .comment {
  font-size: 18px;
}

.rating-info .name {
  color: #6E7491;
  font-weight: 600;
}

.rating-info .info {
  color: #6E7491;
  font-weight: 400;
}

.rating-info .comment {
  color: #27273F;
  font-weight: 400;
  line-height: 25px;
}

.rating-info .star {
  padding: 5% 0;
}


/* footer */

.footer-top {
  display: flex;
  padding: 5%;
}

.footer-top .logo {
  width: 20%;
}

.footer-col {
  width: 20%;
}


.footer-col {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

h6 {
  color: #6E7491;
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}

.footer-col a {
  color: #7C8DB0;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  line-height: 22px;
}

.footer-bottom {
  display: flex;
  padding: 1% 6%;
  border-top: 1px solid #CBD4E6;
}

.footer-bottom .icon, .footer-bottom .copy-right {
  width: 50%;
}

.footer-bottom .icon {
  display: flex;
  align-items: center;
  gap: 5%;
}

.footer-bottom .copy-right p {
  text-align: right;
  color: #7C8DB0;
  font-size: 18px;
  font-weight: 400;
}